{% extends 'shared/base.html' %}

{% block content %}

<!--Flask FLashed Messages to User-->

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss='alert'>&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class= "container">

    <header class="row">

    <!--Header Section-->
        <div class="col-12 col-md-6" id="header-text">
            <h2>Explore Marvel Universe!</h2>
            <h5>Dive into the dazzling domain of all the classic characters you love - and those you'll soon discover!</h5>
            <div>
                <button class="btn btn-primary">Featured Characters</button>
                <button class="btn btn primary">Teams & Groups</button>
            </div>
        </div>
            <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../static/images/marvel-character-v.jpg" alt="Intro Marvel Characters">
        </div>
    </header>
    <!--Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Your One Stop Experience For Everything Marvel!</h2>
            <p>DISCOVER. EXPLORE. DISCUSS.</p>
        </div>
    </section>

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-3">
            <img src="../static/images/magneto.png" class = "rounded float-left" alt="Magneto-Image" id="Magneto-Image">
            <h4>Superhuman Powers</h4>
            <p>
                If you are a curious how Marvel's super humans got their powers, check out our library!
            </p>
        </div>
        <div class="col-12 col-md-3">
            <img src="../static/images/jean-grey.jpg" class = "rounded mx-auto d-block" alt="Jean-Grey-Image" id='Jean-Grey-Image'>
            <h4>Character Spotlight</h4>

            <p>
                If you want more descriptive on your favorite Marvel character, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-3">
            <img src="../static/images/vulcan.png" class = "rounded mx-auto d-block" alt="Vulcan-image" id="Vulcan-image">
            <h4>Comics</h4>
            <p>
                We have every comic series available since Marvel's inception in October 1939.
            </p>
        </div>

        <div class="col-12 col-md-3">
            <img src="../static/images/jubilee.jpg" class = "rounded float-right" alt="Jubilee-image" id="Jubilee-image">
            <h4>Marvel News</h4>
            <p>
                Learn about the latest movie news or series for your favorite Marvel character.
            </p>
        </div>
    </section>

    <section class='row'>
        <div class='col-12 col-md-6'>
            <img src="../static/images/marvel-universe.jpg" alt="marvel-universe" id='marvel-universe'>
        </div>
        <div class="col-12 col-md-6">
            <h4>Start your Marvel Experience here and now!</h4>
            <p>
                Talk with other Marvelites around the world and collab on discussion boards! Click below to start your journey!
            </p>
            <div>
                <button class="btn btn-pimary">Featured Characters</button>
                <button class="btn btn-pimary">Teams & Groups</button>
            </div>
        </div>
    </section>

    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../static/images/marvel-logo.jpg" alt="marvel-logo" id='footer-logo'>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Where's the X-Men Now</p>
                <p>Wanda Vision</p>
                <p>Guardian's of The Galaxy</p>
                <p>Is Thanos really dead? </p>
                <p>Hulk finds his She Hulk</p>
            </div>

        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Where's the X-Men Now</p>
                <p>Wanda Vision</p>
                <p>Guardian's of The Galaxy</p>
                <p>Is Thanos really dead? </p>
                <p>Hulk finds his She Hulk</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Where's the X-Men Now</p>
                <p>Wanda Vision</p>
                <p>Guardian's of The Galaxy</p>
                <p>Is Thanos really dead? </p>
                <p>Hulk finds his She Hulk</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Where's the X-Men Now</p>
                <p>Wanda Vision</p>
                <p>Guardian's of The Galaxy</p>
                <p>Is Thanos really dead? </p>
                <p>Hulk finds his She Hulk</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Where's the X-Men Now</p>
                <p>Wanda Vision</p>
                <p>Guardian's of The Galaxy</p>
                <p>Is Thanos really dead? </p>
                <p>Hulk finds his She Hulk</p>
            </div>
        </div>
    </footer>

</div>

{% endblock content %}